.button {
    font-weight: 700;
    color: var(--white-text-color);
    font-weight: 800;
    font-size: 1.1em;
    border-radius: 1em;
    border: none;
    padding: 0.7em 1.7em;
    transition: all .3s;
    cursor: pointer;
    font-family: Inter, sans-serif;
}

.button:hover {
    filter: brightness(0.9) contrast(1.1);
    border-radius: 0;
}