.input {
    width: 100%;
    padding: 5px 15px;
    color: black;
    background-color: white;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    border-radius: 3px;
    resize: none;
}