.researchersSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  gap: 3em;
  margin-bottom: 4rem;
}

.researcherText {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

/* Tablet */
@media (max-width: 768px) {
  .researchersSection {
    width: 90%;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .researchersSection {
    width: 95%;
  }
}