.logosCarousel {
  background-color: var(--first-color);
  width: 100vw;
  overflow-x: auto;
  display: flex;
}

.logosCarousel::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6em;
  animation: spin 9s infinite linear;
  padding: 2em 0em 2em 6em;
}

.logo {
  flex: 0 0 4em;
  height: 4em;
  width: auto;
  flex-shrink: 0;
  object-fit: contain;
}

@keyframes spin {
  0% {
    translate: 0;
  }
  100% {
    translate: -100%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  .group {
    gap: 4em;
    padding: 1.5em 0em 1.5em 4em;
  }
  
  .logo {
    flex: 0 0 3.5em;
    height: 3.5em;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .group {
    gap: 3em;
    padding: 1em 0em 1em 3em;
  }
  
  .logo {
    flex: 0 0 3em;
    height: 3em;
  }
}