.actionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.text {
  text-align: center;
  margin-top: 5em;
}

.cardsWrapper {
  display: flex;
  gap: 3em;
  margin-top: 5em;
}
