.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.text {
  text-align: center;
  margin-top: 3.2em;
}

.cardsWrapper {
  display: flex;
  gap: 10em;
  margin-top: 5em;
}

/* Tablet */
@media (max-width: 768px) {
  .aboutSection {
    width: 90%;
  }

  .text {
    margin-top: 3em;
    font-size: 1.2rem;
  }

  .cardsWrapper {
    gap: 5em;
    margin-top: 3em;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .aboutSection {
    width: 100%;
  }

  .text {
    margin-top: 2em;
    font-size: 1.1rem;
  }

  .cardsWrapper {
    flex-direction: column;
    gap: 2em;
    margin-top: 2em;
    align-items: center;
  }
}