.emailContainer {
    background-color: var(--first-color);
    border-radius: 1em;
    padding: 1em 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.7em;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    width: 100%
}

.inputFullWidth {
    width: 100%;
}

.sendEmailButton {
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: 0.5em;
}