.emailContainer {
    background-color: var(--first-color);
    border-radius: 1em;
    padding: 1em 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.7em;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    width: 100%
}

.inputFullWidth {
    width: 100%;
}

.sendEmailButton {
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: 0.5em;
}

.info {
    color: var(--white-text-color);
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0.5rem;
    font-family: Inter, sans-serif;
    opacity: 0.8;
}/* Tabl
et */
@media (max-width: 768px) {
  .emailContainer {
    padding: 1em 2em;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .emailContainer {
    padding: 1em 1.5em;
    margin: 0 1rem;
  }
  
  .info {
    font-size: 0.8rem;
  }
}