.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.title {
  margin-top: 1.2em;
}

.text {
  margin-top: 0.5em;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  gap: 5em;
  margin-top: 2em;
}
