.page {
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9rem;
}

.benefitsSection {
    padding: 6em 0em;
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.mainSection, .aboutSection, .actionSection, .researchersSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.researchersSection {
    align-items: flex-start;
    gap: 3em;
}

.metricSection {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.mainSectionTitle {
    margin-top: 1.2em;
}

.mainSectionText {
    margin-top: 0.5em;
}

.buttonsWrapper {
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin-top: 2em;
}

.aboutSectionText, .actionSectionText {
    text-align: center;
    margin-top: 5em;
}

.aboutSectionCardsWrapper, .actionSectionCardsWrapper, .metricSectionCardsWrapper {
    display: flex;
    gap: 10em;
    margin-top: 5em;
}

.metricSectionCardsWrapper {
    gap: 7.6em;
    margin-top: 7em;
    justify-content: center;
}

.actionSectionCardsWrapper {
    gap: 3em;
}

.benefitsSectionLeft {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}