.reseracherImage {
    border-bottom-left-radius: 1.5em;
    border-top-left-radius: 1.5em;
}

.researcherContainer {
    display: flex;
}

.researcherDescriptionContainer {
    background-color: var(--second-color);
    border-bottom-right-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}

.researcherName {
    color: var(--white-text-color) !important;
    font-size: 1.6em;
    text-align: center;
    margin: 0.7em 0em;
}

.researcherText {
    color: var(--white-text-color) !important;
    margin: 0 3em 1.5em 3em;
    font-size: 1.1em;
    text-align: justify;
    font-weight: 300;
}