.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.contactInfo div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.7em;
}

.topSection {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.bottomSection {
    padding: 2em 0;
}

.navigationList {
    list-style-type: none;
}

.navigationItem {
    margin-bottom: 0.2em;
}