.mainCard {
    width: 9.1em;
    height: 9.7em;
    font-family: Inter, sans-serif;
    color: var(--white-text-color);
    font-weight: 800;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
    border-radius: 0.8em;
    text-align: center;
    padding: 0em 0.9em;
}

.mainCardImage {
    width: 3em;
}

/* Mobile */
@media (max-width: 480px) {
  .mainCard {
    width: 8em;
    height: 8.5em;
    font-size: 1.2em;
    gap: 1em;
    padding: 0em 0.7em;
  }
  
  .mainCardImage {
    width: 2.5em;
  }
}